# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Cave Adventure.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Daniel\Files\С#\Проект\Cave Adventure\.idea\.idea.Cave Adventure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
